<% @mycompany = current_company_admin.company_id %>

<div class="page-header">
<h1>
<%= current_company_admin.company.name %>
<small>Control Panel - [<%= current_company_admin.first_name %> <%= current_company_admin.last_name %>]</small>
</h1>
</div>
<div class="row">

<table class="table table-striped table-bordered table-condensed span6" style="width: 630px;">  <tr>
    <th>Title</th>
    <th>Location</th>
    <th>Expiry date</th>
    <th></th>
  </tr>

<% @vacancies.each do |vacancy| %>
  <tr>
    <td><strong><%= vacancy.title %> <span class="label label-info" style="float:right;"><%= vacancy.impressionist_count %> views</span></strong></td>
    <td><%= vacancy.location.title %></td>
    <td><span class="label label-important"><%= vacancy.expiry_date %></span></td>
    <td><%= link_to 'View', vacancy, :class => "btn btn-mini btn-primary" %></td>
  </tr>
<% end %>
</table>
	<div class="span6 well" style="border-color:#ccc;">
		<h6><img style="position:relative; float:right; border:1px solid #ccc;" src="http://maps.googleapis.com/maps/api/staticmap?center=
<%= current_company_admin.company.latitude %>, <%= current_company_admin.company.longitude %>&zoom=13&size=250x180&maptype=roadmap&markers=color:blue%7C
<%= current_company_admin.company.latitude %>, <%= current_company_admin.company.longitude %>&sensor=false" />Company Details</h6>
    <%= image_tag current_company_admin.company.image, :style => "width:120px;" %>
    <address><%= current_company_admin.company.addrress_line_1 %><br /><%= current_company_admin.company.address_line_2 %><br /><%= current_company_admin.company.city %><br /><%= current_company_admin.company.state %><br /><%= current_company_admin.company.zipcode %></address></p>
    <p>Tel: <%= current_company_admin.company.contact_number %></p>
    <p><%= link_to current_company_admin.company.url, current_company_admin.company.url %></p>
    <p><%= mail_to current_company_admin.company.email %></p>
	</div>
</div>