<%= form_for(@cal_priority) do |f| %>
  <% if @cal_priority.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cal_priority.errors.count, "error") %> prohibited this cal_priority from being saved:</h2>

      <ul>
      <% @cal_priority.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
