<h1>Listing news_signups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @news_signups.each do |news_signup| %>
  <tr>
    <td><%= news_signup.name %></td>
    <td><%= news_signup.email %></td>
    <td><%= link_to 'Show', news_signup %></td>
    <td><%= link_to 'Edit', edit_news_signup_path(news_signup) %></td>
    <td><%= link_to 'Destroy', news_signup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New News signup', new_news_signup_path %>
