<%= form_for(@feature_slider) do |f| %>
  <% if @feature_slider.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@feature_slider.errors.count, "error") %> prohibited this feature_slider from being saved:</h2>

      <ul>
      <% @feature_slider.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :image %><br />
    <%= f.text_field :image %>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
