<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @feature_slider.title %>
</p>

<p>
  <b>Image:</b>
  <%= @feature_slider.image %>
</p>

<p>
  <b>Active:</b>
  <%= @feature_slider.active %>
</p>


<%= link_to 'Edit', edit_feature_slider_path(@feature_slider) %> |
<%= link_to 'Back', feature_sliders_path %>
